@(user: securesocial.core.Identity, newsForm: Form[models.news.News])

@import helper._
@import helper.twitterBootstrap._

@title = {
    Create a news <small><a href="@routes.NewsController.edit()">or edit an existing news</a></small>
}

@views.html.Application.main("Création d'une news", user, Html.empty) {

    @if(newsForm.hasErrors) {
        <div class="alert-message error">
            <p><strong>Oops</strong> Please fix all errors</p>
        </div>
    }

    @helper.form(action = routes.NewsController.submit(), 'id -> "createNewsForm") {
        <h1>General informations</h1>

        <fieldset>
            @inputText(
                newsForm("title"),
                '_label -> "Title"
            )

            @inputText(
                newsForm("content"),
                '_label -> "Content"
            )

            @inputText(
                newsForm("imageUrl"),
                '_label -> "Image URL"
            )
        </fieldset>

        <div class="actions">
            <a href="@routes.NewsController.index()" class="button">Cancel</a>
            <input type="submit" class="button primary" class="btn primary" value="Insert" />
        </div>

    }

}