@(message: String, user: securesocial.core.Identity, news: Seq[models.news.News])(implicit request: RequestHeader)

@import views._

@views.html.Application.main("News list", Some(user), html.News.sidebar.apply()) {
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Content</th>
                <th>Image Url</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @news.map { n =>
                <tr>
                    <td>@n.id</td>
                    <td>@n.title</td>
                    <td>@n.content</td>
                    <td>@n.imageUrl</td>
                    <td>
                        <a href="/news/@n.id.get/update">Edit</a> -
                        <a href="/news/@n.id.get/delete">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}



