@(message: String, user: securesocial.core.Identity, news: Seq[models.news.News])(implicit request: RequestHeader, header:models.web.Header)

@import views._

@views.html.Application.main("News list", html.News.sidebar.apply()) {
    <table class="dataset">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Content</th>
                <th>Image Url</th>
                <th>Target Url</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @news.map { n =>
                <tr>
                    <td>@n.id</td>
                    <td>@n.title</td>
                    <td>@n.content</td>
                    <td><a href="@n.imageUrl">@n.imageUrl</a></td>
                    <td><a href="@n.targetUrl">@n.targetUrl</a></td>
                    <td>
                        <a href="/news/@n.id.get/updateForm">Edit</a> -
                        <a href="/news/@n.id.get/delete">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}



