@(user: securesocial.core.Identity, id:Option[Long], newsForm: Form[models.news.News])(implicit request: RequestHeader, header:models.web.Header)

@import helper._
@import helper.twitterBootstrap._

@title = {
    Create a news <small>or edit an existing news</small>
}

@views.html.Application.main("Mise à jour d'une news") {

    @if(newsForm.hasErrors) {
        <div class="alert-message error">
            <p><strong>Oops</strong> Please fix all errors</p>

            <ul>
            @newsForm.errors.map { error:FormError =>
                <li> @error</li>
            }
            </ul>
        </div>
    }

    @helper.form(action = routes.NewsController.update(id.get), 'id -> "updateNewsForm") {
        <h1>General informations</h1>

        <fieldset>
            @inputText(
                newsForm("title"),
                '_label -> "Title"
            )

            @inputText(
                newsForm("content"),
                '_label -> "Content"
            )

            @inputText(
                newsForm("imageUrl"),
                '_label -> "Image URL"
            )

            @inputText(
                newsForm("targetUrl"),
                '_label -> "Target URL"
            )

            @checkbox(
                newsForm("draft"),
                '_label -> "Draft",
                '_text -> "Draft"
            )

            @inputText(
                newsForm("publicationDate"),
                '_label -> "Date de publication"
            )
        </fieldset>

        <div class="actions">
            <a href="@routes.NewsController.index()" class="button">Cancel</a>
        <input type="submit" class="button primary" value="Update" />
        </div>

        <script>
        $('#publicationDate').datetimepicker({
            dateFormat: "yyyy-MM-dd",
            timeFormat: "HH:mm:ss"
        });
        </script>
    }

}