@()(implicit request: RequestHeader, header:models.web.Header)
@import securesocial.core.IdentityProvider

<section id="sb-actions">
    <h1>Actions</h1>
    <ul>
        <li>
            @header.user.map { user =>
                @user.passwordInfo.map { info =>
                    <a class="btn" href="@securesocial.core.providers.utils.RoutesHelper.changePasswordPage.absoluteURL(IdentityProvider.sslEnabled)">Change Password</a>
                }
            }
        </li>
    </ul>
</section>
