@(title: String, user: models.security.User)(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/styles.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script src="@routes.Assets.at("public/javascripts/jquery-1.8.3.min.js")"></script>
    </head>
    <body>
        <header>
            <div id="user">
                <span>@user.name <span>(@user.email)</span> <a href="@routes.Application.logout()">Logout</a></span>
            </div>
        </header>
        <section id="main">
            @content
        </section>
        <footer>

        </footer>
    </body>
</html>
